.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100px;
}
.navbar >  * {
    margin: 5px 15px;
}

.navbar > h2 {
    text-transform: capitalize;
}

.navbar  .icon {
    font-size: 30px;
    cursor: pointer;
}

.navbar .right {
    display: flex;
    align-items: center;
    gap: 15px
}