body {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
}

.dark-mode { 
    background-color: #202d36;
    color: aliceblue;
}

.light-mode {
    background-color: whitesmoke;
    color: black;
}
